<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="../../static/css/change.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/" class="logo">ProFlag</a>
        <nav>
            <ul>
                <li><a href="/accounts/profile">Аккаунт</a></li>
                <li><a href="/search">Отслеживание</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/contact">Контакты</a></li>
            </ul>
        </nav>
        <div>
            {% if user.is_authenticated %}
                <p>Вы вошли как {{ user.get_username }}</p>
            {% else %}
                <a href="/accounts/login">Войти</a>
            {% endif %}
        </div>
    </header>
    <div class="container">
        <div class="change-password-section">
            <h1>Сменить пароль</h1>
            <form method="post" action="{% url 'change-password' %}">
                {% csrf_token %}

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div class="input-box">
                    {{ form.password1 }}
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div class="input-box">
                    {{ form.password2 }}
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <button type="submit" class="btn">Сохранить</button>
            </form>
        </div>
    </div>
</body>
</html>
